<a href="https://colab.research.google.com/github/Nitin-Abrol/College_Finder/blob/main/Project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 3.0 
## **Multiplication Table**

In [1]:
num = int(input("Enter the number whose multiplication table you want to find: "))
print("*"*20)
i = 0

while i<12:
  i +=1
  print(f"{num} x {i} = ", num*i)

print("*"*20)

Enter the number whose multiplication table you want to find: 17
********************
17 x 1 =  17
17 x 2 =  34
17 x 3 =  51
17 x 4 =  68
17 x 5 =  85
17 x 6 =  102
17 x 7 =  119
17 x 8 =  136
17 x 9 =  153
17 x 10 =  170
17 x 11 =  187
17 x 12 =  204
********************