# Project 3.0 
## **Multiplication Table**

In [10]:
num = int(input("Enter the number whose multiplication table you want to find: "))
print("*"*20)
i = 0

while i<13:
  i +=1
  print(f"{num} x {i} = ", num*i)

print("*"*20)

Enter the number whose multiplication table you want to find: 16
********************
16 x 1 =  16
16 x 2 =  32
16 x 3 =  48
16 x 4 =  64
16 x 5 =  80
16 x 6 =  96
16 x 7 =  112
16 x 8 =  128
16 x 9 =  144
16 x 10 =  160
16 x 11 =  176
16 x 12 =  192
16 x 13 =  208
********************