<a href="https://colab.research.google.com/github/Nitin-Abrol/College_Finder/blob/main/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

def compute():
  max_marks = 100 #Full Marks
  name,sem,div,usn,maths,physics,chem,sum,percentage=[],[],[],[],[],[],[],[],[]
  n = int(input("Enter the Number of Students you want to create Database for :"))

  for i in range(n):
    name.append(input("Enter your Name : "))
    sem.append(input("Enter the semester of the student : "))
    div.append(input("Enter the Division of the student : "))
    usn.append(input("Enter the University Seat Number of student : "))

    while True:
        score1 = float(input("Enter the marks scored in maths by the student : "))
        if score1 <= max_marks:
          maths.append(score1)
          break
        else:
          print("Scored marks can't be greater tha Maximum Marks")

    while True:
        score2 = float(input("Enter the acquired scored in physics by the student : "))
        if score2 <= max_marks:
          physics.append(score1)
          break
        else:
          print("Scored marks can't be greater tha Maximum Marks")

    while True:
        score3 = float(input("Enter the marks scored in chemistry by the student : "))
        if score3 <= max_marks:
          chem.append(score3)
          break
        else:
          print("Scored marks can't be greater tha Maximum Marks")

    sum.append(score1 + score2 + score3)

  for i in sum:
    percentage.append(round(i/3,2))

  return  pd.DataFrame({'Name':name,
                        'Sem':sem,
                        'Division':div,
                        'USN':usn,
                        'Maths':maths,
                        'Physics':physics,
                        'Chemistry':chem,
                        'Sum':sum,
                        'Percentage':percentage},
                       index=[i for i in range(1,n+1)])

In [2]:
compute()

Enter the Number of Students you want to create Database for :2
Enter your Name : Nitin
Enter the semester of the student : 4th
Enter the Division of the student : B
Enter the University Seat Number of student : 088
Enter the marks scored in maths by the student : 97
Enter the acquired scored in physics by the student : 87
Enter the marks scored in chemistry by the student : 88
Enter your Name : Abrol
Enter the semester of the student : 5th
Enter the Division of the student : A
Enter the University Seat Number of student : 72
Enter the marks scored in maths by the student : 87
Enter the acquired scored in physics by the student : 85
Enter the marks scored in chemistry by the student : 76

    Name  Sem Division  USN  Maths  Physics  Chemistry    Sum  Percentage
1  Nitin  4th        B  088   97.0     97.0       88.0  272.0       90.67
2  Abrol  5th        A   72   87.0     87.0       76.0  248.0       82.67